<%= render "layouts/title_header", title: "New Line" %>
<%= simple_form_for([@story, @chapter, @line], html: { 'data-parsley-validate': true}) do |f| %>
  <%= render "form", f: f %>
  <div class="form-actions pb-2">
    <%= f.button :submit, class: 'btn-dating' %>
  </div>
<% end %>