<h1>Edit Dating Sim</h1>
<%= simple_form_for(@story, html: { 'data-parsley-validate': true}) do |f| %>
  <%= render "form", f: f %>
  <div class="form-actions pb-2">
    <%= f.button :submit, "Update Dating Sim", class: 'btn-dating' %>
  </div>
<% end %>

<a href="<%= story_path(@story) %>">
  <span class="arrow flip">&#x27b8;</span>
</a>