<%= render "layouts/title_header", title: @character.name %>
<div class="row">
  <div class="col-lg-6 col-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            PHOTO
          </div>
          <div class="col-6">This is my tagline!!! omg</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            Status:
          </div>
          <div class="col-md-9">
            Single
          </div>
          <div class="col-md-3">
            Zodiac Sign:
          </div>
          <div class="col-md-9">
            <%= @character.details["zodiac_sign"] %>
          </div>
          <div class="col-md-3">
            Height:
          </div>
          <div class="col-md-9">
            <%= @character.details["height"] %> cm
          </div>
          <div class="col-md-3">
            Likes:
          </div>
          <div class="col-md-9">
            <%= @character.details["likes"] %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>