<%= render "layouts/title_header", title: @character.name %>
<div class="row">
  <div class="col-lg-6 col-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            PHOTO
          </div>
          <div class="col-6">This is my tagline!!! omg</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            Status:
          </div>
          <div class="col-9">
            Single
          </div>
          <div class="col-3">
            Here for:
          </div>
          <div class="col-9">
            Friends
          </div>
          <div class="col-3">
            Zodiac Sign:
          </div>
          <div class="col-9">
            Libra
          </div>
          <div class="col-3">
            Height:
          </div>
          <div class="col-9">
            5'7"
          </div>
          <div class="col-3">
            Likes:
          </div>
          <div class="col-9">
            dogs
          </div>
        </div>
      </div>
    </div>
  </div>
</div>