<h1>New Chapter</h1>
<%= simple_form_for([@story, @chapter], html: { 'data-parsley-validate': true}) do |f| %>
  <%= render "form", f: f %>
  <div class="form-actions pb-2">
    <%= f.button :submit, class: 'btn-dating' %>
  </div>
<% end %>