/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= pretty-checkbox
 */
@import "bootstrap/scss/bootstrap";
@import 'pretty-checkbox';

body {
  font-family: 'Nunito', sans-serif;
  color: #8675a9;
}

h1, h2, h3, h4 {
  font-family: 'Lobster', cursive;
}

.ds-valid {
  border-color: #28a745;
}

.btn-dating {
  background-color: #8bcdcd;
  border: 1px solid #8bcdcd;
  color: #fcf876;
}

.parsley-errors-list {
  list-style: outside none none;
  padding: 0;
}

.parsley-required {
  color: #cc0e74;
}

.bg-lavender {
  background-color: #9ab3f5
}

.card.link:hover {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}