<nav class="navbar navbar-expand-sm navbar-pink bg-white shadow-sm">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="m-0"><3 Dating Sim Maker</ul>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <% if current_user.present? %>
        <li class="nav-item active">
          <a class="nav-link" href="<%= user_path(current_user) %>"><i class="far fa-meh-rolling-eyes"></i></a>
        </li>
      <% else %>
        <li class="nav-item active">
          <a class="nav-link" href="<%= new_session_url %>">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_user_path %>">Sign Up</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>