<div class="bg-pink" id="sidebar-wrapper">
  <div class="sidebar-heading mb-4"></div>
  <div class="list-group list-group-flush">
    <a href="<%= stories_url %>" class="<%= controller_name == "stories" ? 'active' : '' %> custom-list-group-item custom-list-group-item-action bg-pink">S</a>
    <a href="<%= characters_path %>" class="<%= controller_name == "characters" ? 'active' : '' %> custom-list-group-item custom-list-group-item-action bg-pink">C</a>
    <a href="#" class="custom-list-group-item custom-list-group-item-action bg-pink">H</a>
    <a href="#" class="custom-list-group-item custom-list-group-item-action bg-pink">T</a>
  </div>
</div>