<div class="bg-pink border-r" id="sidebar-wrapper">
  <div class="sidebar-heading">Dating Sim Maker</div>
  <div class="list-group list-group-flush">
    <a href="#" class="custom-list-group-item custom-list-group-item-action bg-pink">Dashboard</a>
    <a href="#" class="custom-list-group-item custom-list-group-item-action bg-pink">Shortcuts</a>
    <a href="#" class="custom-list-group-item custom-list-group-item-action bg-pink">Overview</a>
    <a href="#" class="custom-list-group-item custom-list-group-item-action bg-pink">Events</a>
    <a href="#" class="custom-list-group-item custom-list-group-item-action bg-pink">Profile</a>
    <a href="#" class="custom-list-group-item custom-list-group-item-action bg-pink">Status</a>
  </div>
</div>