<div class="bg-pink border-r" id="sidebar-wrapper">
  <div class="sidebar-heading">Dating Sim Maker</div>
  <div class="list-group list-group-flush">
    <a href="<%= stories_url %>" class="<%= controller_name == "stories" ? 'active' : '' %> custom-list-group-item custom-list-group-item-action bg-pink">Story</a>
    <a href="<%= characters_path %>" class="custom-list-group-item custom-list-group-item-action bg-pink">Characters</a>
  </div>
</div>